<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perro</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/carrito.css' %}" rel="stylesheet">
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}" async></script>
    {% load bootstrap5 %}
    {% bootstrap_javascript%}
</head>
<body>
    <!--Header 1-->
    <nav class="navbar navbar-expand-lg" style="background-color: #f7f7f7;">
        <div class="container-fluid">
          <a href="index"><img src="{% static 'images/Animalia logo.png' %}" alt="Bootstrap" width="auto" height="50rem"
            role="button"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          </div>
        </div>
      </nav>
      <!--Header 2-->
      <nav class="navbar navbar-expand-lg " style="background-color: #f7f7f7;">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="Dog">Perros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Cat">Gatos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aquatic">Acuaticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Bird">Pajaros</a>
              </li>
              </ul>
              <form class="d-flex" role="button">

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="21"
                    fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                    <path
                      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <!-- Contador de las veces que se presiono el boton de compra -->
                  <span name="ammoItem" id="cartItem" class="position-absolute top-50 start-20 translate-middle badge rounded-pill bg-danger" style="visibility: hidden;">
                    +<label id="itemNumber"></label>
                    <span class="visually-hidden">Items in cart</span>
                  </span>
                </button>
                
              </form>
            </div>
          </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px;">Compras</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="carrito" id="carrito">
              <div class="header-carrito">
                  <h2>Tu Carrito</h2>
              </div>
      
              <div class="carrito-items">
                  <!--  -->
              </div>
              <div class="carrito-total">
                  <div class="fila">
                      <strong>Tu Total</strong>
                      <span class="carrito-precio-total">
                          $120.000,00
                      </span>
                  </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Comprar
                      <i class="fa-solid fa-bag-shopping"></i> </button>
              </div>
          </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Despacho de la Orden</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <main class="form-signin w-100 m-auto">
                    <form action="" method="POST"> 
                      {% csrf_token %}
                        <div class="form-floating">
                          <label for="region"></label>
                          <select type="text" class="form-control"  placeholder="region" id="region" name="region" required>
                            <option value="" disable hidden></option>
                          </select> 
                          <label for="region">Region</label>
                        </div>
                        <div class="form-floating">
                          <label for="provincia"></label>
                          <select type="text" class="form-control"  placeholder="provincia" id="provincia" name="provincia" required>
                            <option value="" disable hidden></option>
                          </select> 
                          <label for="provincia">Provincia</label>
                        </div>
                        <div class="form-floating">
                          <label for="comuna"></label>
                          <select type="text" class="form-control"  placeholder="comuna" id="comuna" name="comuna" required>
                            <option value="" disable hidden></option>
                          </select>
                          <label for="comuna">Comuna</label>
                        </div>
                        <div class="form-floating">
                          <input type="text" class="form-control"  placeholder="address" id="address" name="address" required>
                          <label for="address">Calle</label>
                        </div>
                    </form>
                  </main>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar Despacho</button>
                </div>
            </div>
            </div>
        </div>
    <!-- Title -->
    <figure class="text-center">
        <blockquote class="blockquote">
          <h1 style="color: #0086F4; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Perros</h1>
        </blockquote>
    </figure>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Product image-->
                      <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0621/2232/8297/products/Collar-de-patita-con-cascabel-azul-collares-para-mascotas-rositadecampo-2_1800x1800.jpg?v=1648416110" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Collar de Perro</h5>
                              <!-- Product price-->
                              <span class="precio-item">$4.990</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Sale badge-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">40%</div>
                      <!-- Product image-->
                      <img class="card-img-top" src="https://images.lider.cl/wmtcl?source=url[file:/productos/768007a.jpg]&sink" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Juguete para Perro Caucho</h5>
                              <!-- Product reviews-->
                              <div class="d-flex justify-content-center small text-warning mb-2">
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                              </div>
                              <!-- Product price-->
                              <span class="text-muted text-decoration-line-through">$8.990</span>
                              <span class="precio-item">$5.394</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Sale badge-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">25%</div>
                      <!-- Product image-->
                      <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0250/8836/0525/products/femur-vacuno_1800x.jpg?v=1670334697" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Femur de Vacuno XXL</h5>
                              <!-- Product price-->
                              <span class="text-muted text-decoration-line-through">$9.990</span>
                              <span class="precio-item">$7.492</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Product image-->
                      <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_792066-MLC53377110270_012023-O.webp" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Plato de Acero</h5>
                              <!-- Product reviews-->
                              <div class="d-flex justify-content-center small text-warning mb-2">
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                              </div>
                              <!-- Product price-->
                              <span class="precio-item">$2.990</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Sale badge-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">40%</div>
                      <!-- Product image-->
                      <img class="card-img-top" src="https://st.depositphotos.com/2910605/3646/i/600/depositphotos_36464273-stock-photo-cat-bed.jpg" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Cama para Perro</h5>
                              <!-- Product price-->
                              <span class="text-muted text-decoration-line-through">$28.990</span>
                              <span class="precio-item">$17.394</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Product image-->
                      <img class="card-img-top" src="https://img.freepik.com/fotos-premium/cama-gris-suave-mascotas-aislada-sobre-fondo-blanco-accesorios-mascotas_94064-9545.jpg" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Cama de Perro</h5>
                              <!-- Product price-->
                              <span class="precio-item">$33.990</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Sale badge-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">DCTO 30%</div>
                      <!-- Product image-->
                      <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0250/8836/0525/products/airyvest-verde_1024x1024.jpg?v=1655515170" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Chaqueta Perro</h5>
                              <!-- Product reviews-->
                              <div class="d-flex justify-content-center small text-warning mb-2">
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                              </div>
                              <!-- Product price-->
                              <span class="text-muted text-decoration-line-through">$15.990</span>
                              <span class="precio-item">$11.193</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Product image-->
                      <img class="card-img-top" src="https://www.chimuelo.cl/wp-content/uploads/2020/06/pollo-de-plastico.jpg" width="450" height="200" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Juguete para Perro</h5>
                              <!-- Product reviews-->
                              <div class="d-flex justify-content-center small text-warning mb-2">
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                              </div>
                              <!-- Product price-->
                              <span class="precio-item">$1.990</span>
                          </div>
                      </div>
                      <!-- Product actions-->
                      <button class="btn btn-outline-dark mt-auto">Agregar al Carrito</button>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
      <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Animalia 2023</p></div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
